node_modules/
.env

# Docker-specific ignores
*.dockerfile
*.dockerfile.swp
Dockerfile
docker-compose*.yml
.docker
.dockerignore
docker-volumes/
*.docker
*.docker.yml

# Ignore build artifacts
build/
dist/

# Ignore Docker-related logs
*.docker.log
docker-compose.log